/**************
* StyleSheet.css
* Author: Julia McDowell, HTeamML;
* Comp20 Fall 2020 Midterm
**************/

/* nav bar */


/* footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #778899;
    color: #FFFFFF;
    display:inline_block;
    font-size: 10px;
    font-family: palatino;
    text-decoration: none;
    padding: 1% 5% 1%;
    height: 15px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

body{
  margin-bottom: 15px;
  padding: 0% 0% 3%;
}

header{
    background-color: #3E8EDE;
}

page-container{
    position: relative;
    min-height: 100%;
    max-height: 150%;
}

a.logo {
    text-decoration: none;
  }

#logo {
    Width: 25%;
    padding: 10px;
}

nav {
    background-color: #778899;
    display:inline_block;
    font-size: 20px;
    font-family: palatino;
    text-decoration: none;
    padding: 1% 2% 1% 2%;
}


.nav{
    text-decoration: none;
    color: #FFFFFF;
    padding: 2% 1% 2% 5%;
    font-size: 80%;
    font-family: palatino;
}

.nav:hover{
    color: #FFD700;
}
