/**************
* StyleSheet.css
* Author: Julia McDowell, HTeamML;
* Comp20 Fall 2020 Midterm
**************/


/* header */
header{
    background-color: #3E8EDE;
}

/* nav bar */
nav {
    background-color: #778899;
    display:inline_block;
    font-size: 20px;
    font-family: palatino;
    text-decoration: none;
    padding: 1% 2% 1% 1%;
}

.mobileHide {display: inline;}

#dropdown {
    display: none;
}

#dropdown-links{
            display: none;
            width: 40%
}

#dropdown-links a{
        background-color: #778899;
        color: #FFFFFF;
        display: block;
        font-size: 20px;
        font-family: palatino;
        text-decoration: none;
        padding: 1% 2% 5% 5%;
}

nav a {
    display: inline_block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 1% 2% 1% 5%;
    font-size: 80%;
    font-family: palatino;
}

nav a:hover{
    color: #FFD700;
}

nav a.currpage {
    color:black;
}

body{
  margin-bottom: 15px;
  padding: 0% 0% 3%;
}

page-container{
    position: relative;
    min-height: 100%;
    max-height: 150%;
}


/*ABOUT PAGE*/
.about_contain {
    background-color: #778899;
    box-shadow: 0px 2px 8px 4px rgba(62, 142, 222, 1);
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
}

.about_inside {
    margin: 0 auto;
    padding: 6px 16px;
    background-color: #E6E6E6;
}

/*ADOPT PAGES*/
.catdogbut {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.catdogbuttd {
    margin: 0 auto;
    text-align: center;
}

.animal_portal {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    border-radius: 10px;
    background-color: #71B6FA;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    padding: 4% 4% 4% 4%;
}

.aportal_cont {
    padding: 10px 20px;
    text-align: center
}

a.species-link{
  color: #000;
  font-size: 40px;
  font-family: Impact;
  text-decoration: none;
  padding: 4% 4% 4% 4%;
}

.species-link:hover{
    color: #778899;
}

/*END*/

/*CAT/DOG TABLES*/
img.animal {
    width: 50%;
    overflow: hidden;
    border: 1px black solid;
    background-color: black;

}
.animals td {
    border-style: ;
    padding-top: 30px;
    padding-bottom: 30px;
}
.animals td div {
    font-size: 30px;
}

/*Logo*/
a.logo {
    text-decoration: none;
  }
#logo {
    Width: 30%;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: Impact;
    font-size: 48px;
}
h2 {
    text-align: center;
}

/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #778899;
    color: #FFFFFF;
    display:inline_block;
    font-size: 15px;
    font-family: palatino;
    text-decoration: none;
    padding: 1% 5% 1%;
    height: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
